<div class="card">
  <div class="row flex-center">
    <div class="sm-6 col">
      <tetris-core #game (lineCleared)="onLineCleared()"></tetris-core>
    </div>
    <div class="sm-6 col action-buttons">
      <button (click)="onStartGame()">Start</button>
      <button (click)="onStopGame()">Stop</button>
      <button (click)="onResetGame()">Reset</button>
      <button (click)="game.actionRotate()">Rotate</button>
      <button (click)="game.actionLeft()">Left</button>
      <button (click)="game.actionRight()">Right</button>
      <button (click)="game.actionDown()">Down</button>
      <app-game-status [seconds]="seconds"></app-game-status>
    </div>
  </div>
</div>
