<label class="paper-btn btn-secondary" for="high-scores">High Scores</label>
<input class="modal-state" id="high-scores" type="checkbox" />
<div class="modal">
  <label class="modal-bg" for="high-scores"></label>
  <div class="modal-body">
    <label class="btn-close" for="high-scores">X</label>
    <h4 class="modal-title">Game History</h4>
    <p class="modal-text">
      <app-high-scores-table [highScores]="highScores"></app-high-scores-table>
    </p>
    <button class="btn-success">
      <label for="high-scores">Nice!</label>
    </button>
  </div>
</div>
