<label class="paper-btn btn-secondary" for="modal-1">High Scores</label>
<input class="modal-state" id="modal-1" type="checkbox" />
<div class="modal">
  <label class="modal-bg" for="modal-1"></label>
  <div class="modal-body">
    <label class="btn-close" for="modal-1">X</label>
    <h4 class="modal-title">Game History</h4>
    <!-- <h5 class="modal-subtitle">Sort</h5>
    <select [(ngModel)]="selectedAction">
      <option
        *ngFor="let action of gameStates"
        [value]="action"
        [selected]="true"
        style="color: black"
      >
        {{ action !== "Ready" ? action : null }}
      </option>
    </select> -->
    <p class="modal-text">
      <app-high-scores-table [highScores]="highScores"></app-high-scores-table>
    </p>
    <button class="btn-success">
      <label for="modal-1">Nice!</label>
    </button>
  </div>
</div>
