<form [formGroup]="introForm" (ngSubmit)="onSubmit(introForm.value.username)">
  <input
    (input)="cleanWarning()"
    style="width: 100%"
    class="form-control"
    type="text"
    placeholder="user name"
    ngModel
    required
    name="username"
    id="username"
    minlength="3"
  />
  <input
    (input)="cleanWarning()"
    style="width: 100%"
    type="text"
    class="form-control"
    placeholder="token"
    ngModel
    required
    name="mail"
    minlength="4"
  />
  <button type="submit" style="width: 100%">START GAME</button>
  <div
    class="alert alert-warning"
    style="width: 100%"
    *ngIf="!introForm.value.valid || !introForm.value.pristine"
  >
    Nazwa użytkownika musi zawierać minimalnie 3 znaki. Wprowadź swój token.
  </div>
</form>
