<form [formGroup]="introForm" (ngSubmit)="onSubmit()">
  <input
    style="width: 100%"
    class="form-control"
    type="text"
    placeholder="user name"
    formControlName="name"
  />
  <input
    style="width: 100%"
    type="text"
    class="form-control"
    placeholder="token"
    formControlName="token"
  />
  <button type="submit" style="width: 100%" [disabled]="introForm.invalid">
    START GAME
  </button>
  <div
    class="alert alert-warning"
    style="width: 100%"
    *ngIf="
      introForm.controls['name'].invalid && introForm.controls['name'].dirty
    "
  >
    Nazwa użytkownika musi zawierać minimalnie 3 znaki.
  </div>
  <div
    class="alert alert-warning"
    style="width: 100%"
    *ngIf="
      introForm.controls['token'].invalid && introForm.controls['token'].dirty
    "
  >
    Wprowadź 4-cyfrowy token.
  </div>
</form>
