<label class="paper-btn btn-secondary" for="game-history"
  >My Game History</label
>
<input class="modal-state" id="game-history" type="checkbox" />
<div class="modal">
  <label class="modal-bg" for="game-history"></label>
  <div class="modal-body">
    <label class="btn-close" for="game-history">X</label>
    <h4 class="modal-title">Game History</h4>
    <h5 class="modal-subtitle">Sort</h5>
    <select [(ngModel)]="selectedAction">
      <option
        *ngFor="let action of gameStates"
        [value]="action"
        [selected]="true"
        style="color: black"
      >
        {{ action !== "Ready" ? action : null }}
      </option>
    </select>
    <p class="modal-text">
      <app-game-history-table
        [history]="gameHistory"
        [selectedAction]="selectedAction"
      ></app-game-history-table>
    </p>
    <button class="btn-success">
      <label for="game-history">Nice!</label>
    </button>
  </div>
</div>
